.text__container-version{
    font-weight: bold;
}
.subHeader__container{
    padding-left: 1.5rem;
    margin-top: 1rem;
}

.wrapper__container{
    display: flex;
    flex-wrap: wrap;
    gap: 55%;
}











