.column {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1.5px solid rgba(27, 31, 35, 0.15);
    border-radius: 8px;
    min-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
    width: 90%;
    background-color: #f6f8fa;
}

.column::-webkit-scrollbar{
    width: 8px;
    background: rgba(27, 31, 35, 0.15);
    border-radius: 5px;
}

.column__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0.8em;
}

.info__header {
    display: flex;
    align-items: baseline;
   
}

.column__title {
    margin-left: 0.5em;
    font-size: 1em;
    font-weight: 600;
    color: #4d4b4b;
}

.new__task__container {
    width: 100%;
}

@media (min-width: 768px){

    .column{
        width: 100%;
        }
    }


/* @media (min-width: 768px){

.column{
    width: 100%;
    }
} */