.columns__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.column{
    display: flex;
    flex-direction: column;
    margin:1em;
    border: 2px solid black;
    border-radius: 8px;
    min-height: 80vh;
    width: 100%;
    background-color: #f6f8fa
}

.column__header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}

.column > *{
    margin: 0.8em;
}

.new__task__container{
    width: 100%;
}
.clear-all__container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clear-all__button{
    border:none;
    background-color: inherit;
}