* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card__container{
   border: 1.5px solid rgba(27,31,35,0.15);
   border-radius: 7px;
}

.icon__left{
  box-sizing: content-box;
  margin: 7px;
  border: 2px solid #22863a;
  border-radius: 50%;
  height: 0.7em;
  width: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon__left.done{
  border: 2px solid #cb2431;
}

.icon__right{
  margin: 7px;
}

h1 {
  margin-top: 3px;
  font-size: 15px;
  color: #0366d6;
}

.p__icon--left {
  color: #22863a;
  /* padding-top: 1.1rem; */
  font-size: 1em;
  font-weight: 600;
}
.p__icon--left.done{
  color:  #cb2431;
}

.p__card {
  color: #24292e;
  white-space: pre-line;
  font-size: 10px;
  text-align: center;
  margin-bottom: 9px;

}

.icons{
   display:flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.delete__button{
  border:none;
  background-color: inherit;
}
